.projects {
  overflow: auto;
  display: grid;
  padding: 1rem 2rem 0;
  grid-template-columns: minmax(auto, 400px);
  row-gap: 2rem;
  justify-content: center;
  justify-items: center;
  align-content: flex-start;
  grid-auto-rows: auto;
}

.projects::after {
  content: "";
  height: 0.01rem;
}

.project-card {
  width: 80%;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0 0 5px 2.5px #ddd;
}

.project-image-container {
  display: flex;
  flex-direction: column;
}

.project-image {
  object-fit: cover;
  width: auto;
  height: 300px;
  border-radius: 5px 5px 0 0;
}

.project-info {
  padding: 0.5rem 1rem 1rem;
}

.project-name {
  margin: 0 0 0.5rem;
  text-align: center;
  color: #292929;
  font-size: 1.5rem;
  font-weight: 600;
}

.project-description {
  margin: 0 0 0.75rem;
  text-align: center;
  color: #3a3a3a;
  font-size: 1.0625rem;
}

.project-text-link {
  color: #292929;
  text-decoration: none;
  font-weight: 600;
}

.project-links {
  display: flex;
  justify-content: space-between;
}

.project-icon-link {
  color: #292929;
  font-size: 1.25rem;
}

.project-text-link:hover,
.project-icon-link:hover {
  transform: translateY(-2px);
  transition: 0.25s;
  color: #555;
}

@media (min-width: 900px) {
  .projects {
    grid-template-columns: repeat(2, minmax(auto, 400px));
    column-gap: 2rem;
  }

  .project-card {
    width: 100%;
  }
}
